:root {
    --bg: #D3D3D3;
}

body {
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.container {
    display: flex;
    flex-direction: column;
}

.instructions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: flex-end; */
    /* background-color: #f5f5f5; */
    /* border-radius: 25px;
    padding: 10px; */
    text-align: center;
    /* border: solid 2px green; */
}
.instructions-title{
    margin: 18px 0 0 0;
}
.emphasise {
    text-shadow: 0.5px 0.5px 0px rgb(113, 114, 116);
    font-weight: 600;
}
  .content {
    padding: 0 18px;
    display: none;
    background-color: #f1f1f1;
  }
  .translation-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }
  .buttons > button {
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border-radius: 25px;
    padding: 8px;
    box-shadow: 2px 2px 2px 1px rgba(56, 55, 56, 0.4) 
  }
  .buttons > button:hover {
    background-color: black;
    color: #f5f5f5;
  }  
  button:active {
    box-shadow: grey 0 3px 7px inset;
    transform: translateY(2px);
  }
  .input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  textarea {
    resize: none;
    width: 300px;
    height: 200px;
    border-radius: 25px;
    padding: 20px;
  }
  .input:focus {
    color: black;
  }
  .input:hover {
    border: solid 2px rgb(48, 122, 190);
  }
  .clearBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    border-radius: 25px;
    padding: 8px;
  }
  .clearBtn:hover {
    background-color: rgb(224, 91, 91);
  }


.clicked {
    background-color: rgb(125, 192, 125);
    color: white;
}